body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
}

.container{
    background-color: rgb(97, 97, 97);
    border: solid white 2px;
    width: 90%;
    height: 90%;
    text-align: center;
}

input{
    height: 50px;
    text-align: center;
    border-radius: 10px;
    font-size: 1.2em;
}

.submit{
    height: 30px;
    width: 100px;
    border-radius: 80px;
    border: solid black;
    padding: 8px 4px 0 4px;
    background-color: green;
    color: yellow;
    position: relative;
    transform: translate(-50%);
    left: 50%;
}
.submit:hover{
    background-color: rgb(40, 151, 40);
    cursor: pointer;
}

.submit:

h2{
    background-color: rgb(59, 59, 59);
    color: white;
    padding: 10px;
}

.popup{
    /* z-index: 1;
    position: absolute; */
    /* top: 50%; */
    left: 50%;    
    position: relative;
    transform: translate(-50%,0);
    width: 350px;
    height: 100px;
    border-radius: 10px;
    /* background-color: rgb(0, 145, 0); */
    text-align: center;
}

#alert-text{
    position: relative;
    top: 10%;
}

.cover{
    height: 100vh;
    width: 100vw;
    z-index: 2;
    background: transparent;
    position: fixed;
}
/* .over{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 250px;
    height: 250px;
    background-color: rgba(248, 94, 67, 0.671);
    text-align: center;
}  */